.button{
	background-color:crimson;
	color:white;
	border:crimson;
	text-decoration:none;
	border-radius:30px;
    text-align:center;
    float:left;
    font-size: 18px;
	font-weight:bold;
    margin-top: 50px;
    margin-left: 35px;
	height:50px;
	width:100px;
}